body {
    background-image: url(../../public/images/adminback9.jpg);
    background-size:cover;
    margin: 0;
    font-family: 'Arial';
  }

  .col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }
  
  
  h2, h3, a {
    margin:0; 
    padding:10px; 
  }
  
  h2{
    color : white;
    text-align:center;
    font-size:300%;
  }

  .para{
    font-size: 30px; 
    font-weight: bold;
    color : white;
  }
  
  .login {
    /*background-image: repeating-linear-gradient(to top, dodgerblue, navy ,dodgerblue);*/
    margin:5px auto;
    max-width:1600px;
    padding: 10px;
  }
  
  .login-form {
    border-radius:20px;
    box-shadow:0px 0px 20px #000;
    top: 10px;
    padding: 20px 0px;
    border:2px solid black;
    background-color: black;
    opacity: 0.8;
  }
  
  .login-form h3 {
    text-align:left;
    margin-left:40px;
    color :white;
  }
  
  .login-form {
    box-sizing:border-box;
    padding-top:1px;
    margin:5% auto;
    text-align:center;
  }
  
  
  .login input[type="text"],
  .login input[type="password"],
  .login input[type="tel"], 
  .login input[type="email"]{
    max-width:400px;
    width: 60%;
    line-height:3em;
    margin:1em 2em;
    border-radius:5px;
    border:1px solid #f2f2f2;
	border-color:aqua;
    outline:none;
    padding-left:10px;
    background-color: transparent;
    color:white;
    font-weight: bold;
    font-size: 14px;
  }
  
  .packbtn {
    border-radius: 4px;
    background-color: green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .packbtn:hover {
      background-color: red;
  }
  
  
  /*Media Querie*/
  @media only screen and (min-width : 150px) and (max-width : 530px){
    .login-form h3 {
      text-align:center;
      margin:0;
    }
    .login-button {
      margin-bottom:10px;
    }
    .col-50, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    
  }