* {
    box-sizing: border-box;
  }


  /* Create three equal columns that floats next to each other */
  .col1 {
    float: left;
    width: 25%;
    padding: 10px;
    color: white;
  }
  
  .row1{
    /*background-color: #42b7c2;
    border: solid 2px black;
    */
    background-color:rgb(32,23,13,0.8);
  }

  /* Clear floats after the columns */
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }

  a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  a:hover{
    color: aqua;
  }
  
  .img{
    padding: 10px;
    border-radius: 20px;
  }

  .tit{
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
  }

   @media screen and (max-width: 800px) {
    .img{
      width: 50%;
    }
    .col1 {
      width: 100%;
      text-align: center;
      font-size: 18px;
    }
    .tit{
      font-size: 22px;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  

  @media screen and (max-width: 600px) {
    .col1 {
      width: 100%;
      text-align: center;
    }
  }