* {
    box-sizing: border-box;
  }
  
  body {
    margin:0px;
    font-family: 'Arial';
    background-image: url(../images/gradient-green-blue-hd-wallpaper.jpg);
  }
  
  
  h2, h3, a {
    margin:0; 
    padding:10px; 
  }
  
  h2{
    color : white;
    text-align:center;
    font-size:300%;
  }
  
  .para{
    font-size: 30px; 
    font-weight: bold;
    color : white;
  }
  
  .login {
    /*background-image: repeating-linear-gradient(to top, dodgerblue, navy ,dodgerblue);*/
    margin:5px auto;
    max-width:900px;
    padding: 10px;
  }
  
  .login-form {
    border-radius:20px;
    box-shadow:0px 0px 20px #000;
    top: 10px;
    padding: 20px 0px;
    border:2px solid black;
    background-color: black;
    opacity: 0.8;
  }
  
  .login-form h3 {
    text-align:left;
    margin-left:40px;
    color :white;
  }
  
  .login-form {
    box-sizing:border-box;
    padding-top:1px;
    margin:5% auto;
    text-align:center;
  }
  
  .login input[type="text"],
  .login input[type="password"],
  .login input[type="tel"], 
  .login input[type="email"]{
    max-width:400px;
    width: 80%;
    line-height:3em;
    margin:1em 2em;
    border-radius:5px;
    border:1px solid #f2f2f2;
	border-color:aqua;
    outline:none;
    padding-left:10px;
    background-color: transparent;
    color:white;
    font-size: 14px;
    font-weight: bold;
  }
  
  .packbtn {
    border-radius: 4px;
    background-color: green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .packbtn:hover {
      background-color: red;
  }
  
  select{
    max-width:400px;
    width: 80%;
    line-height:3em;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
    padding-left:10px;
    font-size: 14px;
    font-weight: bold;
  }
  
  
  input[type=text],input[type=number], select, textarea,input[type=date],input[type=tel],input[type=email],input[type=password] {
    width: 100%;
    padding: 12px;
    
    border-radius: 4px;
    resize: vertical;
  }
  
  .banner{
    margin-left: 5px;
    width: 750px;
  }
  
  
  
  .c-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .c-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .c-25, .c-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .banner{
      width: 100%;
    }
  }