* {
  box-sizing: border-box;
  
}

input[type=text], select, textarea,
input[type=tel],
input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-color:aqua;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.ban{
  width:40%;
  height:40%;
}

.container{
  margin: 10px;
  margin-bottom: 20px;
}

input[type=submit] {
  border-radius: 4px;
    background-color: green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    float: right;
}

input[type=submit]:hover {
  background-color: red;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.line:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .banner{
    width: 100%;
  }
  .ban{
	display:none;
  }
}