.container{
    color: black;
}

.container td{
    width: 33.33%;
}


input[type="text"]{
    width: 200px;
    height: 30px;
    background-color: transparent;
    background-color: white;
    border-radius: 10px;
    border: solid 1px grey;
}

td{
    text-align: center;
    font-size: 1vw;;
}

.table{
    padding: 5px 5px;
    background-color: rgb(85, 30, 4);
    color: white;
}

.table th[colspan='3']{
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;

}

.table td[colspan='3']{
    width: 100%;
}

.table td{
    width: 33.333%;
}



select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.searchbtn{
    border-radius: 4px;
    background-color: green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    float: right;
}

.searchbtn:hover {
    background-color: red;
  }
  

.packbtn{
    border-radius: 4px;
    background-color: green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 400px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    float: right;
  }
  
  .packbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .packbtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .packbtn:hover,.packbtn:hover span {
    padding-right: 25px;
    background-color: red;
  }
  
  .packbtn:hover span:after {
    opacity: 1;
    right: 0;
  }

@media screen and (max-width: 768px) {
    td{
        text-align: center;
        font-size:4vw;
    }
}

@media screen and (max-width: 400px) {
    
    .table td{
        width: 33.333%;
    }
    .image{
        width: 80%;
        height: 50%;
    }
    table{
        padding: 0;
    }
    td{
        text-align: center;
        font-size:4vw;
    }
    body{
        background-image: url(../images/backmobile2.jpg);
    } 
    .container td{
        width: 33.33%;
    }
    input[type="text"]{
        width: 80px;
    }
}