body {
    background-image: url(../../images/gradient-green-blue-hd-wallpaper.jpg);
    margin:0px;
    font-family: 'Arial';
  }

  .para{
    font-size: 30px; 
    font-weight: bold;
    padding: 10px;
    color : white;
  }
  
  .login {
    /*background-image: repeating-linear-gradient(to top, dodgerblue, navy ,dodgerblue);*/
    margin:10px auto;
    max-width:400px;
    padding: 10px;
  }
  
  .login-form {
    border-radius:20px;
    box-shadow:0px 0px 20px #000;
    top: 40px;
    padding: 20px 0px;
    background-color: black;
    opacity: 0.8;
  }
  
  .login-form h3 {
    text-align:left;
    margin-left:40px;
    color : white;
  }
  
  .login-form {
    box-sizing:border-box;
    padding-top:15px;
    margin:5% auto;
    text-align:center;
  }
  
  .packbtn {
    border-radius: 4px;
    background-color:green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .packbtn:hover {
      background-color: red;
  }
  
  
  /*Media Querie*/
  @media only screen and (min-width : 150px) and (max-width : 530px){
    .login-form h3 {
      text-align:center;
      margin:0;
    }
    .sign-up, .no-access {
      margin:10px 0;
    }
    .login-button {
      margin-bottom:10px;
    }
    body{
      background-image: url(../../images/backmobile2.jpg);
    }  
    
  }