.image{
    width: 80%;
    height: 50%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

td{
    text-align: center;
    font-size: 1vw;
}

.table{
    padding: 5px 5px;
    background-color: darkkhaki;
}

.table td[colspan='3']{
    width: 100%;
}

.table td{
    width: 33.333%;
}

.table button{
    background-color:cyan;
    padding: 15px;
    border-radius: 20px;
    
}

.table button:hover{
    background-color: crimson;
}

input[type='text']{
    background: transparent;
}

@media screen and (max-width: 768px) {
    .column {
        float: left;
        width: 100%;
        padding: 0px;
        height: 80%; 
    }
    td{
        text-align: center;
        font-size:4vw;
    }
}

@media screen and (max-width: 400px) {
    
    .table td{
        width: 33.333%;
    }
    .image{
        width: 80%;
        height: 50%;
    }
    table{
        padding: 0;
    }
    .column {
        float: left;
        width: 100%;
        padding: 0px;
        height: 80%; 
    }
    td{
        text-align: center;
        font-size:4vw;
    }
    body{
        background-image: url(../images/backmobile2.jpg);
    } 
}